In [2]:
#Create a new database with a table named Roster that has three fields: Name, Species, and Age. 
# The Name and Species columns should be text fields, and the Age column should be an integer field.
import sqlite3
connection=sqlite3.connect('Test_db.db')

In [3]:
create_table="""CREATE TABLE Roster(Name TEXT, Species TEXT, Age int)""";

#insert_values="""INSERT INTO Roster values()"""
with sqlite3.connect ('Test_db.db') as connection:
    my_cursor=connection.cursor()
    my_cursor.execute(create_table)
    connection.commit

In [4]:
#Populate your new table with the following values:
insert_values="""INSERT INTO Roster values('Benjamin Sisko', 'Human', 40),('Jadzia Dax', 'Trill', 300), ('Kira Nerys', 'Bajoran',29)"""
with sqlite3.connect ('Test_db.db') as connection:
    my_cursor=connection.cursor()
    my_cursor.execute(insert_values)
    connection.commit

In [7]:
#Update the Name of Jadzia Dax to be Ezri Dax
update_value = """UPDATE Roster SET name='Ezri Dax' WHERE name='Jadzia Dax'"""
with sqlite3.connect ('Test_db.db') as connection:
    my_cursor=connection.cursor()
    my_cursor.execute(update_value)
    connection.commit

In [6]:
dir(my_cursor)

['__class__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__next__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'arraysize',
 'close',
 'connection',
 'description',
 'execute',
 'executemany',
 'executescript',
 'fetchall',
 'fetchmany',
 'fetchone',
 'lastrowid',
 'row_factory',
 'rowcount',
 'setinputsizes',
 'setoutputsize']

In [9]:
# Display the Name and Age of everyone in the table classified as Bajoran.
Bajoran_value = """SELECT * from Roster WHERE species='Bajoran'"""
with sqlite3.connect ('Test_db.db') as connection:
    my_cursor=connection.cursor()
    my_cursor.execute(Bajoran_value)