In [1]:
import pandas as pd


df = pd.DataFrame({
    'Name': ['Alice', 'Bob'],
    'Age': [25, 30]
})

print(df.shape)       # (rows, columns)
print(df.columns)     # Index of column names
print(df.index)       # Index of row labels
print(df.dtypes)      # Data type of each column

(2, 2)
Index(['Name', 'Age'], dtype='object')
RangeIndex(start=0, stop=2, step=1)
Name    object
Age      int64
dtype: object

In [4]:
s = pd.Series([10, 20, 30])
print(s + 5)       # Add 5 to each element
print(s.mean())    # Mean
print(s.max())     # Maximum

0    15
1    25
2    35
dtype: int64
20.0
30

In [6]:
df = df.rename(columns={'Name': 'Full Name', 'Age': 'Years'})
print(df.columns)

Index(['Full Name', 'Years'], dtype='object')

In [7]:
import pandas as pd

data = {'First Name': ['Alice', 'Bob', 'Charlie', 'David'], 'Age': [25, 30, 35, 40], 
        'City': ['New York', 'San Francisco', 'Los Angeles', 'Chicago']} 
df = pd.DataFrame(data)

In [9]:
#Rename column names using function. "First Name" --> "first_name", "Age" --> "age
df=df.rename(columns={"First Name":"first_name", "Age":"age"})

In [10]:
#Print the first 3 rows of the DataFrame
df.head(3)

  first_name  age           City
0      Alice   25       New York
1        Bob   30  San Francisco
2    Charlie   35    Los Angeles

In [13]:
#Find the mean age of the individuals
mean_age = df['age'].mean()
print(mean_age)

32.5

In [18]:
#Select and print only the 'Name' and 'City' columns
selected_columns=df[['first_name','City']]
print(selected_columns)

  first_name           City
0      Alice       New York
1        Bob  San Francisco
2    Charlie    Los Angeles
3      David        Chicago

In [21]:
#Add a new column 'Salary' with random salary values
import numpy as np
df['Salary']=np.random.rand(4)

In [22]:
#Display summary statistics of the DataFrame
print(df.describe())

             age    Salary
count   4.000000  4.000000
mean   32.500000  0.579475
std     6.454972  0.260874
min    25.000000  0.223431
25%    28.750000  0.500465
50%    32.500000  0.623737
75%    36.250000  0.702747
max    40.000000  0.846996

In [23]:
#2#Create a DataFrame named sales_and_expenses with columns 'Month', 'Sales', 
# and 'Expenses', representing monthly sales and expenses data. Use below table.
sales_and_expenses =pd.DataFrame({'Month':['Jan','Feb','Mar','Apr'], 'Sales':[5000,6000,7500,8000], 'Expenses':[3000,3500,4000,4500]})

In [25]:
#Calculate and display the maximum sales and expenses.
print(sales_and_expenses[['Sales','Expenses']].max())

Sales       8000
Expenses    4500
dtype: int64

In [26]:
#Calculate and display the minimum sales and expenses.
print(sales_and_expenses[['Sales','Expenses']].min())

Sales       5000
Expenses    3000
dtype: int64

In [28]:
#Calculate and display the average sales and expenses.
print(sales_and_expenses[['Sales','Expenses']].mean())

Sales       6625.0
Expenses    3750.0
dtype: float64

In [29]:
#3#Create a DataFrame named expenses with columns 
# 'Category', 'January', 'February', 'March', and 'April', 
# representing monthly expenses for different categories. Use below table.
expenses_with_columns =pd.DataFrame({'category':['Rent','Utilities','Groceries','Entertainment'], 
                                     'January':[1200,200,300,150],
                                       'February':[1300,220,320,160],
                                       'March':[1400,240,330,170],
                                       'April':[1500,250,350,180]
                                })

In [34]:
#Calculate and display the maximum expense for each category.
expenses = expenses_with_columns

expenses.set_index('Category', inplace=True)

# Calculate and display the maximum expense for each category
max_expenses = expenses.max(axis=1)

KeyError: "None of ['Category'] are in the columns"

In [33]:

# ✅ Step 1: Create the DataFrame
data = {
    'Category': ['Rent', 'Utilities', 'Groceries', 'Entertainment'],
    'January': [1200, 200, 300, 150],
    'February': [1300, 220, 320, 160],
    'March': [1400, 240, 330, 170],
    'April': [1500, 250, 350, 180]
}

expenses = pd.DataFrame(data)

# ✅ Step 2: Set 'Category' as the index
expenses.set_index('Category', inplace=True)

# ✅ Step 3: Calculate and display the maximum expense for each category
max_expenses = expenses.max(axis=1)

print("Maximum expense for each category:")
print(max_expenses)

Maximum expense for each category:
Category
Rent             1500
Utilities         250
Groceries         350
Entertainment     180
dtype: int64

In [36]:
#Calculate and display the minimum expense for each category.
data = {
    'Category': ['Rent', 'Utilities', 'Groceries', 'Entertainment'],
    'January': [1200, 200, 300, 150],
    'February': [1300, 220, 320, 160],
    'March': [1400, 240, 330, 170],
    'April': [1500, 250, 350, 180]
}

expenses = pd.DataFrame(data)

# ✅ Step 2: Set 'Category' as the index
expenses.set_index('Category', inplace=True)

min_expenses = expenses.min(axis=1)

print("Minimum expense for each category:")
print(min_expenses)

Minimum expense for each category:
Category
Rent             1200
Utilities         200
Groceries         300
Entertainment     150
dtype: int64

In [37]:
#Calculate and display the average expense for each category.
data = {
    'Category': ['Rent', 'Utilities', 'Groceries', 'Entertainment'],
    'January': [1200, 200, 300, 150],
    'February': [1300, 220, 320, 160],
    'March': [1400, 240, 330, 170],
    'April': [1500, 250, 350, 180]
}

expenses = pd.DataFrame(data)

# ✅ Step 2: Set 'Category' as the index
expenses.set_index('Category', inplace=True)

mean_expenses = expenses.mean(axis=1)


print(mean_expenses)

Category
Rent             1350.0
Utilities         227.5
Groceries         325.0
Entertainment     165.0
dtype: float64