In [13]:
import pandas as pd

sales_df = pd.read_csv("C:\\Users\\Notix.uz\\Desktop\\Python2\\task\\sales_data.csv")
sales_df.head()

         Date       Product     Category  Quantity  Price
0  2023-01-01        Laptop  Electronics        10    800
1  2023-01-01       T-Shirt     Clothing         5     20
2  2023-01-02    Smartphone  Electronics         8    400
3  2023-01-02  Coffee Maker         Home        12     50
4  2023-01-03         Jeans     Clothing        15     30

In [7]:
#Total quantity sold.
sales_df.groupby('Category')['Quantity'].agg('sum')

Category
Clothing       157
Electronics    183
Home           144
Name: Quantity, dtype: int64

In [9]:
#Average price per unit.
sales_df.groupby('Category')['Price'].agg('mean')

Category
Clothing        31.176471
Electronics    276.764706
Home            55.000000
Name: Price, dtype: float64

In [12]:
max_quantity_per_category = sales_df.groupby('Category')['Quantity'].agg('max')
print(max_quantity_per_category)

Category
Clothing       15
Electronics    15
Home           14
Name: Quantity, dtype: int64

In [ ]:
#Identify the top-selling product in each category based on the total quantity sold.
# First, find the total quantity sold per product within each category
product_sales = sales_df.groupby(['Category', 'Product'])['Quantity'].sum().reset_index()

# Then, get the top-selling product per category
top_selling_product = product_sales.loc[product_sales.groupby('Category')['Quantity'].idxmax()]

print (product_sales)

       Category                 Product  Quantity
0      Clothing                Backpack        14
1      Clothing             Cargo Pants        11
2      Clothing            Casual Shoes         6
3      Clothing            Denim Jacket        13
4      Clothing             Denim Skirt         8
5      Clothing             Dress Shirt         8
6      Clothing            Formal Shirt         8
7      Clothing                  Hoodie         6
8      Clothing                   Jeans        15
9      Clothing                Sneakers        10
10     Clothing             Sport Shoes        12
11     Clothing            Summer Dress         9
12     Clothing              Sunglasses        11
13     Clothing                 Sweater         7
14     Clothing              Sweatpants         7
15     Clothing              Sweatshirt         7
16     Clothing                 T-Shirt         5
17  Electronics              4K Monitor         9
18  Electronics       Bluetooth Headset         7
19  Electronics                   Drone        10
20  Electronics     External Hard Drive         9
21  Electronics         Fitness Tracker         9
22  Electronics          Gaming Console        14
23  Electronics              Headphones        10
24  Electronics                  Laptop        10
25  Electronics  Point-and-Shoot Camera         8
26  Electronics               Projector        13
27  Electronics                Smart TV        15
28  Electronics              Smartphone         8
29  Electronics                Soundbar        15
30  Electronics                  Tablet        12
31  Electronics        Wireless Earbuds        11
32  Electronics          Wireless Mouse        11
33  Electronics        Wireless Speaker        12
34         Home            Air Purifier         7
35         Home            Bedside Lamp        10
36         Home                 Blender         6
37         Home          Blu-ray Player         9
38         Home               Bookshelf        13
39         Home            Coffee Maker        12
40         Home            Coffee Table         8
41         Home           Comforter Set         7
42         Home            Cookware Set        10
43         Home              Desk Chair         6
44         Home               Desk Lamp         6
45         Home           Kitchen Scale        12
46         Home         Pressure Cooker        14
47         Home              Steam Iron        11
48         Home                 Toaster         8
49         Home          Vacuum Cleaner         5

In [25]:
#Find the date on which the highest total sales (quantity * price) occurred.
# Step 1: Calculate the sales amount for each row
sales_df['TotalSales'] = sales_df['Quantity'] * sales_df['Price']

# Step 2: Group by date and sum the total sales per day
daily_sales = sales_df.groupby('Date')['TotalSales'].sum().reset_index()

# Step 3: Find the date with the highest total sales
max_sales_date = daily_sales.loc[daily_sales['TotalSales'].idxmax()]
print(max_sales_date)

Date          2023-01-07
TotalSales         15150
Name: 6, dtype: object

In [27]:
customer_df = pd.read_csv("C:\\Users\\Notix.uz\\Desktop\\Python2\\task\\customer_orders.csv")
customer_df.head()

   OrderID  CustomerID              Product  Quantity  Price
0        1         101               Laptop         2    800
1        2         102           Headphones         1    150
2        3         103           Smartphone         3    400
3        4         101  External Hard Drive         2     80
4        5         102             Backpack         1     40

In [36]:
#Group the data by CustomerID and filter out customers who have made less than 20 orders.
# Step 1: Count the number of orders per CustomerID
order_counts = customer_df.groupby('CustomerID').size().reset_index(name='OrderCount')
print (order_counts)
# Step 2: Filter customers with fewer than 20 orders
customers_less20 = order_counts[order_counts['OrderCount'] < 20]

print(customers_less20)

   CustomerID  OrderCount
0         101          21
1         102          21
2         103          20
3         104          20
4         105          18
   CustomerID  OrderCount
4         105          18

In [43]:
#Identify customers who have ordered products with an average price per unit greater than $120.
avg_price=customer_df.groupby(['CustomerID','Product'])['Price'].agg('mean').reset_index(name='avgprice')
#print(avg_price)

cust_avg_price=avg_price[avg_price['avgprice']>120]
print (cust_avg_price)

    CustomerID                 Product  avgprice
8          101          Gaming Console     400.0
9          101                  Laptop     800.0
10         101  Point-and-Shoot Camera     250.0
23         102                   Drone     300.0
26         102          Gaming Console     400.0
27         102              Headphones     150.0
29         102                Smart TV    1000.0
30         102              Smartphone     400.0
44         103              Smartphone     400.0
57         104          Gaming Console     400.0
61         104                Smart TV    1000.0
66         104                  Tablet     300.0
73         105                   Drone     300.0
76         105  Point-and-Shoot Camera     250.0
77         105               Projector     200.0

In [49]:
#Find the total quantity and total price for each product ordered, and filter out products that have a total quantity less than 5 units.
# Step 1: Calculate total quantity and total sales per product
ttl = customer_df.groupby('Product').agg(
    TotalQuantity=('Quantity', 'sum'),
    TotalSales=('Price', lambda x: (x * customer_df.loc[x.index, 'Quantity']).sum())
)

# Step 2: Filter out products with total quantity less than 5
less5 = ttl[ttl['TotalQuantity'] < 5]

# View the result
print (less5)

                        TotalQuantity  TotalSales
Product
Backpack                            4         160
Blender                             4         240
Blu-ray Player                      2         140
Bluetooth Headset                   2         100
Bookshelf                           2         160
Casual Shoes                        3          90
Coffee Maker                        3         150
Coffee Table                        3         300
Comforter Set                       3         135
Cookware Set                        1          60
Denim Jacket                        2          90
Denim Skirt                         1          25
Desk Chair                          2         150
Desk Lamp                           2          50
Drone                               2         600
External Hard Drive                 3         240
Fitness Tracker                     3         180
Formal Shoes                        3         180
Gaming Console                      3        1200
Headphones                          1         150
Hoodie                              2          50
Jeans                               3          90
Kitchen Scale                       1          20
Laptop                              2        1600
Point-and-Shoot Camera              2         500
Projector                           2         400
Smart TV                            3        3000
Sneakers                            3         150
Steam Iron                          3          90
Summer Dress                        3          90
Sweater                             3         105
Sweatshirt                          2          70
Tablet                              2         600
Toaster                             3          75
Wireless Charger                    2          70
Wireless Mouse                      3          75
Wireless Speaker                    2         140